*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.justify-space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-item-center{
    justify-self: center;
}

.align-item-center{
    align-self: center;
}

.flex-column{
    flex-direction: column;
}

.p-1{
    padding: 1vw;
}

.px-1{
    padding: 0 1vw;
}

.px-2{
    padding: 0 2vw;
}

.px-3{
    padding: 0 3vw;
}

.py-1{
    padding: 1vh 0;
}

.py-2{
    padding: 2vh 0;
}

.my-1{
    margin: 1vh 0;
}

.my-2{
    margin: 2vh 0;
}

.my-3{
    margin: 3vh 0;
}

.mx-1{
    margin: 0 1vw;
}

.mx-2{
    margin: 0 2vw;
}

.mx-3{
    margin-left: 5vw;
    margin-right: 5vw;
}

.flex-wrap{
    flex-wrap: wrap;
}

.position-relative{
    position: relative;
}

.position-sticky{
    position: sticky;
}

.opacity-low{
    opacity: 0.7;
}

.border-black{
    border: 1px solid black;
}

.border-white{
    border: 1px solid white;
}

.display-inline{
    display: inline;
}

.cursor-pointer{
    cursor: pointer;
}