* {
  scroll-margin-top: 6vw;
}

.container{
  padding-top: 6vw;
  background-color: 'black';
}

@media screen and (max-width: 1250px) {
  * {
    scroll-margin-top: 8vw;
  }
  h3{
    font-size: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  *{
    scroll-margin-top: 8vw;
  }
  h3{
    font-size: 0.7rem;
  }
  p{
    font-size: 0.5rem;
  }
}

